/* WEBSITE DEFAULT LAYOUT */
/* HEADER */
.pageheader{
  overflow: auto;
  vertical-align: middle;
  text-align: center;
  color: black;
  background-color: #2659c9;
  font-size: 100%;
  padding: 5px;
  border: 1px solid;
  border-color: black;
  box-shadow  : 10px 10px 10px black;
}
/* TITLE */
#title {
  margin-left: 15px;
}

/* BODY */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #ededed;
}
/* COLUMNS */
.column {
  float: left;
  padding: 10px;
}
/* Left Column */
.column.left {
  width: 20%;;
}
/* Middle column */
.column.middle {
  width: 60%;
}
/* Right Column */
.column.right {
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}


/* LEFT SIDE CONTENTS */
.navigation {
  list-style-type: none;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #001f63;
}

.navigationlist a {
  display: block;
  color: white;
  padding: 5% 5%;
  text-decoration: none;
}

/* Change the link color on hover */
.navigationlist a:hover {
  background-color: #f1f1f1;
  color: black;
}

/* FEED CONTENTS */
/* Page Quote */
#pagequote{
  text-align: center;
}
/* Start Button */
.start{
    text-align: center;
}
#startbutton {
  background-color: #001f63;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
  cursor: pointer;
}
/* Table Data Results */
.tableresult {
  text-align: center;
}
#tableresults {
    width: 100%;
    background-color: #f1f1c1;
    border-collapse: collapse;
}
#resultsheader{
  height: 50px;
  text-align: center;
  border: 1px solid black
}
#resultsdata{
  padding: 15px;
  text-align: left;
  border: 1px solid black
}
/* Directions */
.directionstitle{
   text-align: center;
   font-size: 150%;
   font-weight: bold;
}
.directions{
  text-align: justify;
}
/* GO BUTTON */
.go{
  text-align: center;
  border: none;
}
#gobutton{
  background-color: #001f63;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
}
.contactdisplay{
  text-align: center;
}
.tablecontact {
    width: 100%;
    background-color: #f1f1c1;
    border-collapse: collapse;
}
.contactheader{
  text-align: center;
  border: 1px solid black
}
.contactpic{
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid black
}
.contactdata{
  padding: 15px;
  text-align: left;
  border: 1px solid black
