/* ----------WEBSITE DEFAULT LAYOUT---------- */
/* HEADER */
.pageheader{
  text-align: center;
  color: white;
  background-color: #4670a6;
  font-size: 150%;
  padding: 5px;
  margin: 5px;
  border: 1px solid;
  border-color: black;
  box-shadow  : 10px 10px 10px grey;
}
#pagequote{
  text-align: center;
}
/* CONTAINER */
.pagebody{
  display: grid;
  grid-template-columns: 5fr 25fr;
}

/* ----------WEBSITE CONTENTS---------- */
/* CREATORS TAB */
.creatorstab{
  border-style: solid;
  padding: 5px;
}

/* FEED TAB */
.feedtab{
  padding: 10px;
}

/* Start Button */
#startbutton {

}
.start{
    text-align: center;
}

/* TABLE RESULTS */
.tableresult {
  text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 {
    width: 100%;
    background-color: #f1f1c1;
}

/* DIVIDE */

.direction {
   text-align: center;
   font-size: 30px;
}

.unorderlist{
  text-align: center;
}
.go{
  text-align: center;
  border: none;
  font-size: 5px;
}
.go button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
