/* WEBSITE DEFAULT LAYOUT */
/* HEADER */
.pageheader{
  overflow: auto;
  vertical-align: middle;
  text-align: center;
  color: black;
  background-image: linear-gradient(#2659c9, #112347);
  font-size: 100%;
  padding: 5px;
  border: 1px solid;
  border-color: black;
  box-shadow  : 10px 10px 10px black;
}
/* TITLE */
#title {
  margin-left: 15px;
}

/* BODY */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url("https://i.etsystatic.com/8798411/r/il/ef1dc2/670208027/il_fullxfull.670208027_m2jy.jpg");
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/* COLUMNS */
.column {
  float: left;
  padding: 10px;
}
/* Left Column */
.column.left {
  width: 20%;
}
/* Middle column */
.column.middle {
  width: 60%;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}
/* Right Column */
.column.right {
  width: 20%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}


/* LEFT SIDE CONTENTS */
.navigation {
  list-style-type: none;
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #001f63;
}

.navigationlist a {
  display: block;
  color: white;
  padding: 5% 5%;
  text-decoration: none;
}

/* Change the link color on hover */
.navigationlist a:hover {
  background-color: #f1f1f1;
  color: black;
}

/* FEED CONTENTS */
/* Page Quote */
#pagequote{
  text-align: center;
}
/* Start Button */
.start{
    text-align: center;
}
#startbutton {
  background-color: #001f63;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
  cursor: pointer;
}
/* Table Data Results */
.tableresult {
  text-align: center;
}
#tableresults {
    width: 100%;
    background-color: #f1f1c1;
    border-collapse: collapse;
}
#resultsheader{
  height: 50px;
  text-align: center;
  border: 1px solid black
}
#resultsdata{
  padding: 15px;
  text-align: left;
  border: 1px solid black
}
/* List Page Background */
.feedbackground{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7R3RgQV2rqdo9v0_slMVBkeLlCGdDWVjy070YfEz-JJ6AXB4DVg");
  box-shadow  : 10px 10px 10px grey;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.resultsbackground{
  background-image: url("https://svn.apache.org/repos/asf/devicemap/whiteboard/devicemap-site-jekyll/images/site/whitey_@2X.png");
  box-shadow  : 10px 10px 10px grey;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
/* Directions */
.directionstitle{
   text-align: center;
   font-size: 150%;
   font-weight: bold;
}
.directions{
  text-align: justify;
}
/* GO BUTTON */
.go{
  text-align: center;
  border: none;
}
#gobutton{
  background-color: #001f63;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  margin: 4px 2px;
}
.contactdisplay{
  text-align: center;
}
.tablecontact {
    width: 100%;
    background-color: #f1f1c1;
    border-collapse: collapse;
}
.contactheader{
  text-align: center;
  border: 1px solid black
}
.contactpic{
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  border: 1px solid black
}
.contactdata{
  padding: 15px;
  text-align: left;
  border: 1px solid black
