/* HEADER */
.header{
  text-align: center;
  color: white;
  background-color: #4670a6;
  font-size: 150%;
  padding: 20px;
  margin: 10px;
  box-shadow: 10px 10px 5px -5px grey;
}

/* CONTAINER */
.container {
  display: grid;
  grid-template-columns: 5fr 25fr;
}
/* CREATORS TAB */
.creatorstab{
  border-style: solid;
  padding: 10px;
}

/* FEED TAB */
.feedtab{
  padding: 10px;
}

/* Start Button */
#startbutton {

}
.start{
    text-align: center;
}
