<!-- ABOUT PAGE TEMPLATE -->
<!-- HEAD SECTION -->
<!DOCTYPE html>
<head>
  <title>Lingo Learner</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  <!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
</head>

<!-- BODY SECTION -->
<body>
  <div class="pageheader">
    <table border="0" align="center" margin="30px">
      <tr>
        <th>
          <img id="element1" src="https://png.pngtree.com/svg/20170803/6ca076ff9c.svg" height="50px">
        </th>
        <th>
          <h1 id="title">Lingo Learner</h1>
        </th>
      </tr>
    </table>
  </div>

<div class="row">
  <div class="column left">
    <ul class="navigation">
      <li class="navigationlist"><a href="/">Home</a></li>
      <li class="navigationlist"><a href="/list-go?">Game</a></li>
      <li class="navigationlist"><a href="/contact">Contact</a></li>
      <li class="navigationlist"><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="column middle">
    <h2>About Page</h2>
    <p>This project was made by the group Phase Uno. We used HTML, CSS and python to create the whole app. It took 7 days to complete the whole project.</p>
  </div>

    <div class="column right">
    </div>
  </div>
</body>
