<!-- CONTACT PAGE TEMPLATE -->
<!-- HEAD SECTION -->
<!DOCTYPE html>
<head>
  <title>Lingo Learner</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  <!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
</head>

<!-- BODY SECTION -->
<body>
  <div class="pageheader">
    <table border="0" align="center" margin="30px">
      <tr>
        <th>
          <img id="element1" src="https://png.pngtree.com/svg/20170803/6ca076ff9c.svg" height="50px">
        </th>
        <th>
          <h1 id="title">Lingo Learner</h1>
        </th>
      </tr>
    </table>
  </div>

<div class="row">
  <div class="column left">
    <ul class="navigation">
      <li class="navigationlist"><a href="/">Home</a></li>
      <li class="navigationlist"><a href="/list-go?">Game</a></li>
      <li class="navigationlist"><a href="/contact">Contact</a></li>
      <li class="navigationlist"><a href="/about">About</a></li>
    </ul>
  </div>
  <div class="column middle">
    <table class="tablecontact">
    <tr>
      <th class="contactheader"><h2>Martin Salamanca</h2></th>
      <th class="contactheader"><h2>Hans Vidaure</h2></th>
      <th class="contactheader"><h2>Orzeeta Kamal</h2></th>
    </tr>
    <tr>
      <td class="contactpic">
        <img src="https://www.freeiconspng.com/uploads/msn-people-person-profile-user-icon--icon-search-engine-16.png" height="200px">
      </td>
      <td class="contactpic">
        <img src="https://www.freeiconspng.com/uploads/msn-people-person-profile-user-icon--icon-search-engine-16.png" height="200px">
      </td>
      <td class="contactpic">
        <img src="https://www.freeiconspng.com/uploads/msn-people-person-profile-user-icon--icon-search-engine-16.png" height="200px">
      </td>
    </tr>
    <tr>
      <td class="contactdata">martinsalamanca@gmail.com</td>
      <td class="contactdata">hansvidaure@gmail.com</td>
      <td class="contactdata">orzeetakamal@gmail.com</td>
    </tr>
    <tr>
      <td class="contactdata">(347)123-4567</td>
      <td class="contactdata">(347)234-5678</td>
      <td class="contactdata">(347)345-6789</td>
    </tr>
    <tr>
      <td class="contactdata">Queens College</td>
      <td class="contactdata">Queens College</td>
      <td class="contactdata">Queens College</td>
    </tr>
    </table>
  </div>

    <div class="column right">
    </div>
  </div>
</body>
