<!doctype html>

<head>
  <title> Word List </title>
  <link rel="stylesheet" href="style.css">
</head>
<body style="background-color:#e0df84">
  <section class="direction">
  <h1>DIRECTIONS</h1>
  </section>
  <ul class="unorderlist">
    <li>Enter your words</li>
    <li>Press Go!</li>
  </ul>

  <form method="post" action="/result">
    <input type="text" name="Item 1" value='Item #1'><br />
    <input type="text" name="Item 2" value='Item #2'><br />
    <input type="text" name="Item 3" value='Item #3'><br />
    <input type="text" name="Item 4" value='Item #4'><br />
    <input type="text" name="Item 5" value='Item #5'><br />

    <div class="go">
      <button id="gobutton" type="submit">Go !</button>
    </div>
  </form>


</body>
