<!-- WELCOME PAGE TEMPLATE -->
<!-- HEAD SECTION -->
<!DOCTYPE html>
<head>
  <title>Lingo Learner</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  <!-- <link rel="stylesheet" href="css/style.css" type="text/css"> -->
</head>

<!-- BODY SECTION -->
<body>
  <div class="pageheader">
    <table border="0" align="center" margin="30px">
      <tr>
        <th>
          <img id="element1" src="https://png.pngtree.com/svg/20170803/6ca076ff9c.svg" height="50px">
        </th>
        <th>
          <h1 id="title">Lingo Learner</h1>
        </th>
      </tr>
    </table>
  </div>

  <div class="row">
    <div class="column left">
      <ul class="navigation">
        <li class="navigationlist"><a href="/">Home</a></li>
        <li class="navigationlist"><a href="/list-go?">Game</a></li>
        <li class="navigationlist"><a href="/contact">Contact</a></li>
        <li class="navigationlist"><a href="/about">About</a></li>
      </ul>
    </div>

    <div class="column middle">
      <h2>Welcome to Phase Uno's Language Learning Application!</h2>
      <p>This application is created by Martin Salamanca, Hans Vidaure, and Orzeeta Kamal. The purpose of this app is to make learning new languages more fun. It is designed to translate a list of words the user entered into their desired language of translation, both in singular and plural forms.</p>
      <form method="get" action="/list-go" class="start">
        <button id="startbutton"type="submit">Start</button>
      </form>
    </div>

    <div class="column right">
    </div>
  </div>

  <hr>
  <h3 id="pagequote">{{quote}}</h3>
</body>
