<!-- WELCOME PAGE TEMPLATE -->
<!-- HEAD SECTION -->
<!DOCTYPE html>
<head>
  <title>Phase Uno Gamers Only</title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
</head>

<!-- BODY SECTION -->
<body style="background-color:#b2b9c2">

<!-- APP HEADER -->
  <section class="header">
    <h1>Phase Uno's Language Learning App</h1>
    <h2>{{quote}}</h2>
  </section>
  <hr>

  <!-- THE BODY -->
  <div class="container">
    <!-- THE CREATOR TAB -->
    <div class="creatorstab">
      <div>
      <h2>Creators:</h2>
      <ul>
        <li>Martin Salamanca</li>
        <li>Hans Vidaure</li>
        <li>Orzeeta Kamal</li>
      </ul>
      </div>
    </div>
    <!-- THE FEED TAB -->
    <div class = "feedtab">
      <h2>Welcome to our page!</h2>
      <p>Paragraph of Description</p>
      <form method="get" action="/list-go" class="start">
        <button id="startbutton"type="submit">Start</button>
      </form>
    </div>
  </div>

</body>
