<!DOCTYPE html>
<head>
  <title>Phase Uno Gamers Only</title>
  <link rel="stylesheet" href="welcome_style.css">
</head>
<body style="background-color:#b2b9c2">
  <section class="welcome">
    <h1>Phase Uno's Language Learning App</h1>
    <h2>{{quotevariable}}</h2>
    <hr>
  </section>
  <div>
    <h2>Welcome to our page!</h2>
    <p>psjgsifagbakadsnoipdannfpasdnfdonf this is a paragraph omg this is so convincing oh my i really wanna learn languages now</p>
  </div>
  <div class="start">
    <form method="get" action="/list-go">
      <button id="startbutton"type="submit">Start</button>
    </form>
  </div>

</body>


<!-- REFERENCES: -->
<!-- <!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">
  <title>Practice Website</title>
</head>
<body>
  <h1>My first website</h1>
  <br>
  <img
  src="https://media.gettyimages.com/photos/portrait-of-kitten-against-colored-background-picture-id903869076"
  alt="kitten with blue background">
  <hr>
  <section>
    <h2>Information about me</h2>
    <p>My name is Hans Vidaure. I was born in the Philippines and moved into the United States 3 years ago. Here is a list of my interests and hobbies.</p>
    <h3>Hobbies</h3>
      <ul>
        <li>Play Basketball</li>
        <li>Play Videogames</li>
        <li>Play the Piano</li>
        <li>Learn a Different Language</li>
      </ul>
    <h3>Favorites</h3>
      <section>
        <h3>Website/Social Media to Use</h3>
        <ol>
          <li>Instagram</li>
          <li>Twitter</li>
          <li>Snapchat</li>
          <li>Youtube</li>
        </ol>
      </section>
      <section>
        <h3>TV Shows</h3>
        <ol>
          <li>F.R.I.E.N.D.S</li>
          <li>The Office</li>
        </ol>
      </section>
  </section>
  <hr>
  <section>
    <h2>Things that I've learned in class</h2>
      <ul>
      <li>Command Line</li>
      <li>HTML</li>
      <li>CSS</li>
    </ul>
  </section>
  <section>
    <p class="red">During this weekened, I stayed home and played video games with my friends online.</p>
    <p>I also watched "The Office" with my brothers on Saturday.</p>
    <p>On Sunday, I went to church and did some work for my father in the afternoon.</p>
  </section>
</body> -->
